<form action="/contact/success" name="contact" method="POST" novalidate netlify-honeypot="bot-field" data-netlify="true">
  <div class="mt-2">
    <div class="form-floating">
      <input type="text" class="form-control" placeholder="Name" name="name" id="name" required>
      <label for="name" class=>Name</label>
    </div>
  </div>
  <div class="mt-2">
    <div class="form-floating">
      <input type="email" class="form-control" placeholder="name@email.com" name="email" id="email" required>
      <label for="email" class="required">Email Address</label>
    </div>
  </div>
  <div class="mt-2">
    <div class="form-floating">
      <input type="tel" class="form-control" placeholder="Phone Number" name="phone" id="phone" required>
      <label for="phone" class="required">Phone Number</label>
    </div>
  </div>

  <div class="mt-2">
    <div class="form-floating">
      <textarea style="height: 150px;" rows="5" class="form-control" placeholder="Message" name="message" id="message"
        required></textarea>
      <label for="message" class="required">Message</label>
    </div>
  </div>
  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-primary text-white" id="sendMessageButton">Send</button>
  </div>
</form>
