<!-- Footer -->

<hr>

<footer>
  <div class="container">
    <div class="d-flex flex-md-row flex-column justify-content-evenly">
      <div class="flex-item text-center">
        <h4 class="fw-normal">Get in Touch</h4>
        <ul class="list-inline small">
          {% if site.email %}
          <li>
            <a href="mailto:{{ site.email | encode_email }}">{{ site.email | encode_email }}</a>
          </li>
          {% endif %}
          {% if site.phone_number %}
          <li>
            <a href="tel:{{ site.phone_number }}">{{ site.phone_number }}</a>
          </li>
          {% endif %}
          {% if site.address %}
          <li class="mt-2">
            <address>
              {% if site.pin_location %}
              <a href="{{ site.pin_location }}" target="_blank" rel="noopener noreferrer">{{ site.address | newline_to_br }}</a>
              {% else %}
              {{ site.address | newline_to_br }}
              {% endif %}
            </address>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="flex-item text-center">
        <h4 class="fw-normal">Stay Connected</h4>
        <ul class="list-inline mt-3">
          {% if site.social_profiles.twitter %}
          <li class="list-inline-item me-0">
            <a href="https://twitter.com/{{ site.social_profiles.twitter }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.social_profiles.facebook %}
          <li class="list-inline-item me-0">
            <a href="https://www.facebook.com/{{ site.social_profiles.facebook }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.social_profiles.linkedin %}
          <li class="list-inline-item me-0">
            <a href="https://www.linkedin.com/in/{{ site.social_profiles.linkedin }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.social_profiles.github %}
          <li class="list-inline-item me-0">
            <a href="https://github.com/{{ site.social_profiles.github }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.social_profiles.instagram %}
          <li class="list-inline-item me-0">
            <a href="https://instagram.com/{{ site.social_profiles.instagram }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.social_profiles.tiktok %}
          <li class="list-inline-item me-0">
            <a href="https://tiktok.com/{{ site.social_profiles.tiktok }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-tiktok fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.social_profiles.twitch %}
          <li class="list-inline-item me-0">
            <a href="https://twitch.tv/{{ site.social_profiles.twitch }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitch fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-center">
    <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
  </div>
</footer>
