<div class="section pb-4 text-center" id="services">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="fw-bold mb-4">Services</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          From roofing to concrete and foundations to general carpentry, we have the skills and experience to get the job done right. 
          We are a certified Nudura Installer and Red Seal Carpenter, so you can trust that your project is in good hands.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card my-1">
          <div class="card-body">
            <div class="info-icon">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitch fa-stack-1x fa-inverse"></i>
              </span>
            </div>

            <h3>Roofing</h3>
            <ul class="list-unstyled">
              <li class="text-secondary small">Rubber (Euroshield&trade;)</li>
              <li class="text-secondary small">Steel panels</li>
              <li class="text-secondary small">Asphalt (shingle)</li>
              <li class="text-secondary small">Warranties & repairs</li>
            </ul>
          </div>
          <div class="card-footer text-light bg-primary">
            <a href="/services/roofing" class="text-uppercase text-light">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-1">
          <div class="card-body">
            <div class="info-icon">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitch fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <h3>Concrete and Foundations</h3>
            <ul class="list-unstyled">
              <li class="text-secondary small">Walkways, driveways, slabs & stairs</li>
              <li class="text-secondary small">House & cottage leveling</li>
              <li class="text-secondary small">Insulated Concrete forms (ICF)</li>
              <li class="text-secondary small">Certified Nudura Installer</li>
            </ul>
          </div>
          <div class="card-footer text-light bg-primary">
            <a href="/services/concrete" class="text-uppercase text-light">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-1">
          <div class="card-body">
            <div class="info-icon">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitch fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <h3>General Carpentry</h3>
            <ul class="list-unstyled">
              <li class="text-secondary small">New builds & renovations</li>
              <li class="text-secondary small">Decks, docks, garages and gazebos</li>
              <li class="text-secondary small">Framing & finishing</li>
              <li class="text-secondary small">Certified Red Seal Carpenter</li>
            </ul>
          </div>
          <div class="card-footer text-light bg-primary">
            <a href="/services/carpentry" class="text-uppercase text-light">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
