<div class="section pb-4 text-center" id="services">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="fw-bold mb-4">Services</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          Red Seal Certified and with over 20 years experience, we are specialists in all types of roofing, concrete and carpentry projects.
          We are a certified Nudura installer, and a certified Euroshield installer. Locally owned and operated, we service the Cumberland and Westmorland
          counties in Nova Scotia and New Brunswick.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card my-1">
          <div class="card-body">
            <img src="roofing.jpg" class="rounded-circle" width="100" height="100" alt="Roofing" />
            <h3>Roofing</h3>
            <ul class="list-unstyled">
              <li class="text-secondary small">Rubber (Euroshield&trade;)</li>
              <li class="text-secondary small">Steel panels</li>
              <li class="text-secondary small">Asphalt (shingle)</li>
              <li class="text-secondary small">Warranties & repairs</li>
            </ul>
          </div>
          <div class="card-footer text-light bg-primary">
            <a href="/services/roofing" class="text-uppercase text-light">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-1">
          <div class="card-body">
            <img src="concrete.jpg" class="rounded-circle" width="100" height="100" alt="Concrete" />
            <h3>Concrete and Foundations</h3>
            <ul class="list-unstyled">
              <li class="text-secondary small">Walkways, driveways, slabs & stairs</li>
              <li class="text-secondary small">House & cottage leveling</li>
              <li class="text-secondary small">Insulated Concrete forms (ICF)</li>
              <li class="text-secondary small">Certified Nudura Installer</li>
            </ul>
          </div>
          <div class="card-footer text-light bg-primary">
            <a href="/services/concrete" class="text-uppercase text-light">learn more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-1">
          <div class="card-body">
            <img src="carpentry.jpg" class="rounded-circle" width="100" height="100" alt="Carpentry" />
            <h3>General Carpentry</h3>
            <ul class="list-unstyled">
              <li class="text-secondary small">New builds & renovations</li>
              <li class="text-secondary small">Decks, docks, garages and gazebos</li>
              <li class="text-secondary small">Framing & finishing</li>
              <li class="text-secondary small">Certified Red Seal Carpenter</li>
            </ul>
          </div>
          <div class="card-footer text-light bg-primary">
            <a href="/services/carpentry" class="text-uppercase text-light">learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
