<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body mx-auto">
        <div class="embed-responsive embed-responsive-16by9">
          <video controls autoplay>
            <source src="concrete.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">Close</span>
        </button>
        <a href="/services/concrete" class="btn btn-primary text-white">See More</a>
      </div>
    </div>
  </div>
</div>
